package ${cfg.basePackage}.module .${cfg.modulePackage}.domain.dto;
import lombok.Data;
#if(${cfg.hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${cfg.hasDate})
import java.util.Date;
#end
import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.annotations.ApiModelProperty;

/**
* [  ]
*
* @author ${cfg.author}
* @version 1.0
* @company ${cfg.company}
* @copyright (c) 2018 ${cfg.company}Inc. All rights reserved.
* @date 2019/3/27 0027 下午 12:27
* @since JDK1.8
*/
@Data
public class ${cfg.moduleClass}DTO extend ${cfg.moduleClass}Entity{



}
