<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${cfg.basePackage}.module.${cfg.modulePackage}.mapper.${cfg.moduleClass}EntityMapper">


    #if(${enableCache})
        <!-- 开启二级缓存 -->
        <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    #end
    #if(${baseResultMap})
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
            #foreach($field in ${table.fields})
                #if(${field.keyFlag})##生成主键排在第一位
                    <id column="${field.name}" property="${field.propertyName}" />
                #end
            #end
            #foreach($field in ${table.commonFields})##生成公共字段
                <result column="${field.name}" property="${field.propertyName}" />
            #end
            #foreach($field in ${table.fields})
                #if(!${field.keyFlag})##生成普通字段
                    <result column="${field.name}" property="${field.propertyName}" />
                #end
            #end
        </resultMap>

    #end
    #if(${baseColumnList})
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
#foreach($field in ${table.commonFields})
            ${field.name},
#end
        ${table.fieldNames}
    </sql>

    #end

    <select id="queryByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from ${cfg.tableName}
##        <where>
##            #foreach($queryField in $queryFieldList)
##                #if ($queryField.sqlOperate == 'like')
##                    <if test="query.${cfg.queryField.fieldName} != null and query.${cfg.queryField.fieldName} != ''">
##                        AND INSTR($cfg.queryField.columnName,#{queryDTO.$cfg.queryField.fieldName})
##                    </if>
##                #end
##                #if ($queryField.sqlOperate == 'equals')
##                    #if ($queryField.fieldType == 'String')
##                        <if test="query.${cfg.queryField.fieldName} != null and query.${cfg.queryField.fieldName} != ''">
##                            AND $cfg.queryField.columnName = #{queryDTO.$cfg.queryField.fieldName}
##                        </if>
##                    #else
##                        <if test="query.${cfg.queryField.fieldName} != null">
##                            AND $cfg.queryField.columnName = #{queryDTO.$cfg.queryField.fieldName}
##                        </if>
##                    #end
##                #end
##                #if ($queryField.sqlOperate == 'time_equals')
##                    <if test="query.${cfg.queryField.fieldName} != null">
##                        AND DATE_FORMAT($cfg.queryField.columnName, '%Y-%m-%d') = #{queryDTO.$cfg.queryField.fieldName}
##                    </if>
##                #end
##                #if ($queryField.sqlOperate == 'time_between')
##                    <if test="query.startDate != null">
##                        AND DATE_FORMAT($cfg.queryField.columnName, '%Y-%m-%d') &gt;= #{queryDTO.startDate}
##                    </if>
##                    <if test="query.endDate != null">
##                        AND DATE_FORMAT($cfg.queryField.columnName, '%Y-%m-%d') &lt;= #{queryDTO.endDate}
##                    </if>
##                #end
##                #if ($cfg.queryField.sqlOperate == 'in')
##                    <if test="query.${cfg.queryField.fieldName}List !=null and query.${cfg.queryField.fieldName}List.size() > 0">
##                        and $cfg.queryField.columnName in
##                        <foreach collection="query.${cfg.queryField.fieldName}List" open="(" index="index" separator=","
##                                 close=")" item="item">
##                            #{item}
##                        </foreach>
##                    </if>
##                #end
##                #if ($cfg.queryField.sqlOperate == 'gt')
##                    <if test="queryPlanOrderDTO.startDate != null and queryPlanOrderDTO.startDate != ''">
##                        and DATE_FORMAT(po.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{queryPlanOrderDTO.startDate},
##                        '%Y-%m-%d')
##                    </if>
##                #end
##            #end
##        </where>
    </select>

    <delete id="deleteById">
        delete from ${cfg.tableName} where id = #{id}
    </delete>

    <delete id="deleteByIds">
        delete from ${cfg.tableName} where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>